@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f8fa;
    --foreground: #ededed;

    --primary-color: rgb(248, 62, 233); 
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  /* font-family: "Arial, Helvetica, sans-serif"; */
  /* Montserrat */
  font-family: "Montserrat";
}
